@import "theme";
@import "reset";
@import "common";

.container {
  max-width: 1232px;
  padding: 0 16px;
  margin: 0 auto;

  @media (max-width: 1200px) {
    max-width: none;
    margin: unset;
  }
}

html {
  overflow-x: hidden;
  background-color: $main-black;
  scroll-behavior: smooth;

  &.no-scroll {
    overflow: hidden;
  }
}

.notification {
  position: relative;
  text-align: center;
  font-size: 18px;
  line-height: 130%;
  color: white;
  background: linear-gradient(260.39deg, #00A79D 0%, #8C41CE 96.71%);
  max-height: 0;
  padding: 0;
  overflow: hidden;
  transition: max-height .3s, padding .3s;
  text-transform: uppercase;

  &.opened {
    padding: 12px 36px 12px 12px;
    max-height: 300px;
  }

  a {
    color: $pink;
    font-weight: bold;
    text-decoration: underline;
  }

  &__close {
    position: absolute;
    right: 16px;
    top: 0;
    font-size: 32px;
    cursor: pointer;
  }
}

@media (max-width: 1200px) {
  .desktop-only {
    display: none !important;
  }
}

@media (min-width: 1201px) {
  .mobile-only {
    display: none !important;
  }
}
