@import "../theme";

.story {
  display: grid;

  &-wrapper {
    padding: 100px 0;

    @media (max-width: 1200px) {
      padding: 50px 0;
    }
  }

  &__heading {
    font-weight: bold;
    font-size: 72px;
    line-height: 130%;

    @media (max-width: 1200px) {
      font-size: 48px;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: $grey;

    @media (max-width: 1200px) {
      font-size: 16px;
    }
  }

  &-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    margin-bottom: 100px;

    @media (max-width: 1200px) {
      grid-template-columns: 1fr;
      margin-bottom: 50px;
    }

    &-left {
      display: grid;
      grid-row-gap: 50px;

      @media (max-width: 1200px) {
        grid-row-gap: 50px;
      }

      &__img {
        @media (max-width: 1200px) {
          width: 260px;
          margin: 0 auto;
        }
      }
    }

    &-right {
      position: relative;
      display: flex;

      img {
        width: 100%;
        margin: 0 auto;
      }

      @media (max-width: 1200px) {
        justify-content: center;
        margin-top: 50px;

        img {
          max-width: 400px;
          width: 100%;
        }
      }

      &::after {
        content: '';
        z-index: -1;
        position: absolute;
        width: 50%;
        height: 100%;
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%) rotate(-21deg);
        background: linear-gradient(180deg, rgba(0, 167, 157, 0.5) 0%, rgba(140, 65, 206, 0.5) 100%);;
        filter: blur(100px);
        border-radius: 35%;
      }
    }
  }

  &-bot {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    margin-bottom: 50px;

    @media (max-width: 1200px) {
      grid-template-columns: 1fr;
      grid-row-gap: 50px;
    }

    &-left {
      max-width: 500px;
      margin: 0 auto;

      @media (max-width: 1200px) {
        order: 1;
      }

      img {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  &-footer {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: center;

    @media (max-width: 1200px) {
      font-size: 16px;
    }
  }
}
