.countdown {
  padding: 50px 120px;
  background: rgba(7, 7, 7, 0.16);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  border-radius: 46px;

  @media (max-width: 1200px) {
    padding: 24px 20px;
  }

  &__time {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 120px;
    line-height: 130%;
    font-family: Sora, sans-serif;
    margin-bottom: 50px;
    //padding-bottom: 24px;

    @media (max-width: 1200px) {
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
      font-size: 40px;
      margin-bottom: 24px;
    }

    span {
      position: relative;
      display: inline-block;

      &::after {
        content: attr(data-time);
        position: absolute;
        top: calc(100% + 10px);
        left: 50%;
        transform: translateX(-50%);
        font-size: 18px;
        font-weight: 600;
        line-height: 130%;

        @media (max-width: 1200px) {
          font-size: 10px;
        }
      }
    }
  }
}
