@import "@/assets/scss/theme.scss";
@import "@/assets/scss/common.scss";

.small-point {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(260.39deg, #00A79D 0%, #8C41CE 96.71%);

  @media (max-width: 1200px) {
    width: 25px;
    height: 25px;
  }
}

.big-point {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #00A79D;
  background: #070707;

  @media (max-width: 1200px) {
    width: 50px;
    height: 50px;
  }
}

.hero-wrapper {
  position: relative;
  padding-bottom: 100px;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 647px;
  align-items: center;

  &__green-cloud {
    position: absolute;
    mix-blend-mode: screen;
    top: -100px;
    left: 0;

  }

  &-img {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      width: 70%;
      height: 70%;
      border-radius: 40%;
      z-index: -1;
      background: linear-gradient(180deg, rgba(0, 167, 157, 0.5) 0%, rgba(140, 65, 206, 0.5) 100%);
      filter: blur(55px);
      transform: translate(-50%, -50%) rotate(21.07deg);
    }

    &__image {

    }
  }

  &-info {

    &__title {
      font-weight: 700;
      font-size: 56px;
      line-height: 116%;
      margin-bottom: 24px;

      span {

      }
    }

    &-remember {

      &__text {
        font-weight: 500;
        font-size: 24px;
        line-height: 130%;
        margin-bottom: 12px;
      }

      &-list {
        list-style: none;
        margin-bottom: 32px;

        &__item {
          position: relative;
          padding-left: 24px;
          font-weight: 500;
          font-size: 24px;
          line-height: 130%;

          &::before {
            content: "";
            position: absolute;
            top: 0.4em;
            left: 0;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: linear-gradient(260.39deg, #00A79D 0%, #8C41CE 96.71%);
          }

          small {
            font-size: 18px;
          }
        }
      }
    }

    &-description {
      font-weight: 500;
      font-size: 24px;
      line-height: 130%;
      max-width: 570px;

      &__link {
        color: $pink;
      }
    }
  }
}

// SURPRISE

.surprise-wrapper {
  position: relative;
  padding-bottom: 120px;
}

.surprise {
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  z-index: 1;

  &-heading {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 72px;
    line-height: 130%;
    margin-bottom: 50px;

    @media (max-width: 1200px) {
      font-size: 48px;
    }

    &.small {
      font-size: 56px;
      max-width: 460px;
    }

    &__subtext {
      font-weight: 600;
      font-size: 24px;
      line-height: 130%;
      color: #fff;
      margin-top: 10px;
    }
  }

  &-rating {
    height: 303px;
    position: relative;

    &-box {
      position: absolute;
      top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 613px;
      z-index: 1;

      @media (max-width: 1500px) {
        width: calc(100% - 100px);
      }
    }

    &-heading {
      position: relative;
      font-weight: 600;
      font-size: 24px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 24px;
      background: linear-gradient(260.39deg, #00A79D 0%, #8C41CE 96.71%);
      padding: 8px 24px 8px 40px;
      border-radius: 16px;
      line-height: 0;
      margin-bottom: 20px;

      @media (max-width: 1650px) {
        padding: 8px 20px;
      }

      @media (max-width: 1500px) {
        margin-bottom: 50px;
      }

      &__smoke {
        position: absolute;
        z-index: -1;
        left: 100%;
        bottom: -10px;
        transform: translateX(-35%);

        @media (max-width: 1650px) {
          width: 100px;
        }
      }
    }

    &-table {
      width: 100%;
      border-radius: 34px;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        top: 30%;
        left: 30%;
        width: 40%;
        height: 130%;
        border-radius: 40%;
        z-index: -1;
        background: linear-gradient(180deg, rgba(0, 167, 157, 0.5) 0%, rgba(140, 65, 206, 0.5) 100%);
        filter: blur(55px);
        transform: translate(-50%, -50%) rotate(21.07deg);
      }

      &__thing-image {
        position: absolute;
        top: 0;
        left: 18px;
        z-index: 1;
        transform: rotateY(180deg) translateY(-40px);
      }

      &-head {
        background: #03A59E;
        border-radius: 34px 34px 0 0;

        .surprise-rating-table-column {
          font-weight: 700;
          font-size: 16px;
          line-height: 130%;
        }
      }

      &-body {
        background: rgba(0, 0, 0, .42);
        overflow: hidden;
        border-radius: 0 0 34px 34px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.36);
        border-right: 1px solid rgba(255, 255, 255, 0.36);
      }

      &-row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        overflow: hidden;

        &:not(:last-child) {
          border-bottom: 1px solid rgba(255, 255, 255, 0.36);
        }
      }

      &-column {
        padding: 10px 0;
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;

        &:first-child {
          font-weight: 700;
          font-size: 16px;
          line-height: 130%;
          background: linear-gradient(260.39deg, #00A79D 0%, #8C41CE 96.71%);
        }

        &:not(:last-child) {
          border-right: 1px solid rgba(255, 255, 255, 0.36);
        }
      }
    }
  }

  &__separator {
    z-index: -1;
    position: relative;
    background-color: $grey;

    &::after {
      @extend .small-point;
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      transform: translate(-50%, -50%);
    }
  }

  &__skull-cloud {
    position: absolute;
    mix-blend-mode: screen;
    left: 0;
    top: 200px;
  }

  &__rarity-cloud {
    position: absolute;
    mix-blend-mode: screen;
    right: 0;
    bottom: -250px;
  }

  &-skull-poison {
    position: relative;
    margin-bottom: 40px;
    min-height: 800px;

    &::before {
      position: absolute;
      content: "";
      top: 30%;
      left: 30%;
      width: 40%;
      height: 70%;
      border-radius: 40%;
      z-index: -1;
      background: linear-gradient(180deg, rgba(0, 167, 157, 0.3) 0%, rgba(140, 65, 206, 0.3) 100%);
      filter: blur(55px);
      transform: translate(-50%, -50%) rotate(21.07deg);
    }

    &__main-image {
      object-fit: cover;
      width: 100%;
    }

    &__mutant-badge {
      position: absolute;
      right: 0;
      top: 0;
      transform: translate(-20%, 0);
    }
  }

  &-left {

    > * {
      padding-right: 100px;

      &:nth-child(1) {
        margin-bottom: 0;
      }
      &:nth-child(2) {
        margin-bottom: 53px;
      }

      &:nth-child(3) {
        margin-bottom: 62px;
      }

      &:nth-child(4) {
        margin-bottom: 59px;
      }

      &:nth-child(5) {
        margin-bottom: 46px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .big-point, .small-point {
      right: 0;
      transform: translate(50%, -25%);
    }

    &-cards {
      display: flex;
      flex-direction: column;
      margin-bottom: 70px;
      position: relative;

      &::after {
        content: '';
        z-index: -1;
        position: absolute;
        width: 60%;
        height: 90%;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%) rotate(-21deg);
        background: linear-gradient(180deg, rgba(0, 167, 157, 0.5) 0%, rgba(140, 65, 206, 0.5) 100%);
        filter: blur(90px);
        border-radius: 50%;
      }

      &__item {

        &:first-child {
          align-self: flex-start;
          width: 401px;
          max-width: 80%;
        }

        &:last-child {
          width: 475px;
          max-width: 80%;
          align-self: flex-end;
        }
      }
    }
  }

  &-right {
    padding-top: 120px;

    > * {
      padding-left: 100px;
    }

    .big-point, .small-point {
      left: 0;
      transform: translate(-50%, 0);
    }

    &-cards {
      position: relative;

      > img {
        width: 100%;
      }
    }

    & > * {
      &:nth-child(1) {
        margin-bottom: 64px;
      }

      &:nth-child(2) {
        margin-bottom: 64px;
      }

      &:nth-child(3) {
        margin-bottom: 64px;
      }

      &:nth-child(4) {
        margin-bottom: 64px;
      }

      &:nth-child(5) {
        margin-bottom: 100px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-point {
    margin-bottom: 130px;
    position: relative;

    @media (max-width: 1200px) {
      margin-bottom: 0;
    }

    .big-point, .small-point {
      position: absolute;
      top: 0;
    }

    &__heading {
      margin-bottom: 24px;
      font-weight: 600;
      font-size: 24px;
      line-height: 130%;

      @media (max-width: 1200px) {
        font-size: 20px;
        margin-bottom: 16px;
      }
    }

    &__text {
      font-weight: 500;
      font-size: 18px;
      line-height: 130%;

      @media (max-width: 1200px) {
        font-size: 16px;
      }

      a {
        color: $pink;
      }
    }

    &__big-text {
      @extend .text-purple-gradient;
      font-weight: 600;
      font-size: 24px;
      line-height: 130%;
    }
  }

  &__top-cloud {
    position: absolute;
    mix-blend-mode: screen;
    top: -300px;
    right: 0;
  }

}

.rewards-wrapper {
  position: relative;
  padding-bottom: 40px;
}

.rewards {

  &__note {
    background: rgba(255, 0, 255, 0.16);
    border: 2px solid #FF006F;
    border-radius: 26px;
    padding: 24px 32px;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;

    strong {
      font-weight: 700;
      color: #FF006F;
    }
  }

  &-rd {
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    z-index: 1;
    position: relative;
    margin-bottom: 52px;
  }

  &__light {
    position: absolute;
    bottom: -100px;
    right: 0;
    mix-blend-mode: screen;

    @media (max-width: 1550px) {
      width: 80%;
    }
  }

  &__heading {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 72px;
    line-height: 130%;
    margin-bottom: 50px;
    text-transform: uppercase;

    @media (max-width: 1200px) {
      font-size: 48px;
    }
  }

  &__separator {
    z-index: -1;
    position: relative;
    background-color: $grey;
    margin-bottom: 150px;

    &::after {
      @extend .small-point;
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      transform: translate(-50%, -50%);
    }
  }

  &-left {
    padding-top: 50px;

    > * {
      padding-right: 100px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .big-point, .small-point {
      right: 0;
      transform: translate(50%, -25%);
    }
  }

  &-right {
    padding-top: 24px;

    > * {
      padding-left: 100px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .big-point, .small-point {
      left: 0;
      transform: translate(-50%, -50%);
    }
  }

  &-point {
    margin-bottom: 78px;
    position: relative;

    .big-point, .small-point {
      position: absolute;
      top: 50%;
    }

    &__heading {
      margin-bottom: 18px;
      font-weight: 600;
      font-size: 24px;
      line-height: 130%;
      text-align: right;
    }

    &-list {
      display: flex;
      flex-direction: column;
      row-gap: 4px;

      &__item {
        font-weight: 500;
        font-size: 24px;
        line-height: 130%;
        color: $grey;
        text-align: right;
        padding-right: 24px;
        position: relative;

        small {
          font-size: 16px;
          color: inherit;
        }

        &::after {
          content: "";
          position: absolute;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          background: linear-gradient(260.39deg, #00A79D 0%, #8C41CE 96.71%);
        }
      }
    }
  }
}

.counter-wrapper {
  padding: 120px 0;
  background: url("static/img/mutants/countdown/countdown-bg.png") no-repeat center / cover;
}

.counter {
  position: relative;
  padding: 80px 120px;
  border-radius: 46px;
  background: rgba(7, 7, 7, 0.46);
  border: 1px solid #FFFFFF;
  backdrop-filter: blur(7px);

  &__image {

    &-thing {
      position: absolute;
      top: -42px;
      left: 35px;
    }

    &-flask {
      position: absolute;
      bottom: -194px;
      left: -238px;
    }

    &-skull {
      position: absolute;
      top: -66px;
      right: -62px;
    }

    &-badge {
      position: absolute;
      left: 100%;
      bottom: -56px;

      @media (max-width: 1600px) {
        left: 90%;
      }
    }
  }

  &__heading {
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 32px;
    text-align: center;
  }

  &-timer {
    display: grid;
    grid-template-columns: 1fr auto 1fr auto 1fr auto 1fr;
    column-gap: 24px;
    align-items: center;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: linear-gradient(260.39deg, #00A79D 0%, #8C41CE 96.71%);
      border-radius: 26px;
      padding: 8px 0 16px 0;

      &__value {
        font-weight: 500;
        font-size: 120px;
        line-height: 130%;
      }

      &__name {
        font-weight: 600;
        font-size: 18px;
        line-height: 130%;
      }
    }

    &__semicolon {
      font-weight: 500;
      font-size: 120px;
      line-height: 130%;
    }
  }
}

.how-wrapper {
  position: relative;
  padding-top: 115px;
  margin-bottom: 50px;
}

.how {

  &__cloud {
    position: absolute;
    left: 0;
    bottom: 0;
    mix-blend-mode: screen;
  }

  &__title {
    font-weight: 700;
    font-size: 72px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 32px;
  }

  &-rd {
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    z-index: 1;
    position: relative;

    &__separator {
      z-index: -1;
      position: relative;
      background-color: $grey;
      margin-bottom: 310px;

      &::after {
        @extend .small-point;
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        transform: translate(-50%, -50%);
      }
    }

    &-guide {
      position: relative;
      margin-bottom: 40px;

      &__main {
        width: 100%;
        object-fit: cover;
      }

      &__decoration {
        position: absolute;
        left: -40px;
        top: -270px;
      }
    }

    &__cards {

    }

    &__hint {
      font-weight: 300;
      font-size: 18px;
      line-height: 130%;
      color: $grey;
      font-style: italic;
      padding-left: 0 !important;

      .tip {
        font-style: normal;
      }

      strong {
        font-weight: 300;
        color: #fff;
      }
    }

    &-left {
      padding-top: 100px;

      > * {
        padding-right: 100px;
      }

      .big-point, .small-point {
        right: 0;
        transform: translate(50%, -25%);
      }
    }

    &-right {
      padding-top: 100px;

      > * {
        padding-left: 100px;
      }

      .big-point, .small-point {
        left: 0;
        transform: translate(-50%, -50%);
      }
    }

    &-point {
      margin-bottom: 78px;
      position: relative;

      .big-point, .small-point {
        position: absolute;
        top: 50%;

        &.top {
          top: 0;
        }
      }

      &__heading {
        margin-bottom: 18px;
        font-weight: 600;
        font-size: 24px;
        line-height: 130%;
      }

      &__text {
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;

        @media (max-width: 1200px) {
          font-size: 16px;
        }

        a {
          color: $pink;
        }
      }

    }
  }
}

.footer-wrapper {
  padding: 0 60px 60px 60px;
}

.footer {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;

  &-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 44px;
    max-width: 996px;
    margin: 0 auto;

    &__item {
      text-align: center;
      font-weight: 400;
      font-size: 36px;
      line-height: 130%;
      color: #fff;
    }
  }

  &__cloud {

    &.right {
      transform: rotateY(180deg);
    }
  }
}
